.divBody {
  background-color: #031C29;
}

.containerBody {
  width: 1349px;
  margin: auto;
  background: url('../../public/images/bg-home.png');
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50px;
}

.divHeader {
  width: 100%;
  min-height: 50px;
  background-color: #A6955A;
}

.divHeader_divImg {
  margin: 0 auto;
  padding: 10px 0;
  width: fit-content;
}

.divHeader_img {
  padding: 5px;
}

.divMain {
  width: fit-content;
  height: 400px;
  margin-left: 1rem;
  padding: 6rem 0 2rem;
}

.divButton {
  width: fit-content;
  margin: 30px auto;
}

.button {
  width: 15em;
  padding: 5px;
  cursor: pointer;
  background-color: #A6955A;
  border-radius: 10px;
  border-bottom: 2px solid #212121;
  border-left: 2px solid #767676;
  border-top: 2px solid #767676;
  border-right: 2px solid #212121;
}

.button:active {
  border-top: 2px solid #212121;
  border-right: 2px solid #767676;
  border-bottom: 2px solid #767676;
  border-left: 2px solid #212121;
}

.button:hover {
  width: 16rem;
  height: 55px;
  box-shadow: 0px 0px 14px 1px #A6955A;
  transition: 1s;
}

.buttonP {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #031C29;
}

.divSection, .divFooter {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 0;
}

.divSection .container {
  display: flex;
}

.divSection_divTitle__home {
  margin: 25px 2.59rem 0 1rem;
}

.divSection_title__home {
  font-weight: initial;
  font-size: 1.6rem;
  color: #A6955A;
}

.divSection_titleLine__home {
  margin: 46px 0;
  width: 70%;
  border-top: 2px solid #A6955A;
}

.divFooter_ul .container {
  display: flex;
  justify-content: space-between;
  padding: 61px 0 68px;
}

.divFooter_ul_imgLink, .divHeader_img {
  cursor: pointer;  
  border: 2px solid #A6955A;
}

.divFooter_ul_li {
  height: 291px;
}

.divFooter_ul_li:nth-child(1):hover {
  box-shadow: 0px 0px 5px 5px #9C211C;
  transition: 0.3s;
}

.divFooter_ul_li:nth-child(2):hover {
  box-shadow: 0px 0px 5px 5px #0B6833;
  transition: 0.3s;
}

.divFooter_ul_li:nth-child(3):hover {
  box-shadow: 0px 0px 5px 5px #BF9636;
  transition: 0.3s;
}

.divFooter_ul_li:nth-child(4):hover {
  box-shadow: 0px 0px 5px 5px #316eca;
  transition: 0.3s;
}

@media (max-width: 360px) {
  .containerBody {
    width: 360px;
    background-position: -275px 0;
  }

  .main__mobile, .section__mobile, .footer__mobile {
    padding: 0;
  }

  .divMain {
    margin: 0 auto;
    padding: 2rem 0;
  }

  .imgMainHome__mobile {
    width: 290px;
  }

  .divSection {
    padding: 0;
    margin: 30px 0;
  }

  .divSection .container {
    flex-direction: column;
    align-items: center;
  }

  .divSection_divTitle__home {
    margin: 0 auto;
    margin-top: 10px;
  }

  .divSection_title__home {
    text-align: center;
  }

  .divSection_titleLine__home {
    margin: 20px 0;
  }

  .divFooter {
    padding: 0;
  }

  .divFooter_ul .container {
    width: fit-content;
    margin: 0 auto;
    padding: 21px 0 0;
    flex-flow: column wrap;
  }

  .divFooter_ul_li {
    margin-bottom: 20px;
  }

  .divHeader {
    min-height: 30px;
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */