.divBody {
  background: url('../../public/images/bg-home.png'),#041b29;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 50px;
}

.divHeader {
  width: 100%;
  min-height: 50px;
  background-color: #A6955A;
}

.divHeader_divImg {
  margin: 0 auto;
  padding: 20px 0;
  width: fit-content;
}

.divHeader_img {
  padding: 5px;
}

.divMain {
  width: fit-content;
  margin-left: 1rem;
  padding: 6rem 0 2rem;
}

.divButton {
  width: fit-content;
  margin: 30px auto;
}

.button {
  width: 15em;
  cursor: pointer;
  background-color: #A6955A;
  border-radius: 10px;
  border-bottom: 2px solid #212121;
  border-left: 2px solid #767676;
  border-top: 2px solid #767676;
  border-right: 2px solid #212121;
}

.button:active {
  border-top: 2px solid #212121;
  border-right: 2px solid #767676;
  border-bottom: 2px solid #767676;
  border-left: 2px solid #212121;
}

.buttonP {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #031C29;
}

.divSection, .divFooter {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0 0;
}

.divSection .container {
  display: flex;
}

.divSection_divTitle {
  margin: 0 2.59rem 0 1rem;
}

.divSection_title {
  font-weight: initial;
  font-size: 1.6rem;
  color: #A6955A;
}

.divSection_titleLine {
  margin: 46px 0;
  width: 69.9%;
  border-top: 2px solid #A6955A;
}

.divFooter_ul .container {
  display: flex;
  justify-content: space-between;
  padding: 29px 0 68px;
}

.divFooter_ul_imgLink, .divHeader_img {
  cursor: pointer;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
