.divBody {
    height: 1172px;
    background-image: url(../../public/images/background_harry_azul_marinho\ 1.png),
    url(../../public/images/background_harry_azul_marinho\ 2.png),
    url(../../public/images/background_harry_azul_marinho\ 3.png),
    url(../../public/images/background_harry_azul_marinho\ 4.png);

    background-position: 0px 116px, 832px 116px, bottom left, bottom right;
    background-size: 832px 528px, 517px 528px;
    background-repeat: no-repeat;
}