.divBody {
    background-color: #0e1d28;
}

.containerBody {
    width: 1349px;
    margin: auto;
    background-image: url(../../public/images/background_harry_azul_marinho\ 1.png),
    url(../../public/images/background_harry_azul_marinho\ 2.png),
    url(../../public/images/background_harry_azul_marinho\ 3.png),
    url(../../public/images/background_harry_azul_marinho\ 4.png);
    background-position: 0px 106px, 832px 106px, 0 634px, 832px 634px;
    background-size: 832px 528px, 517px 528px;
    background-repeat: repeat;
} 

.divSection_divTitle__characters {
    margin: 28px 1.9rem 0 1rem;
}

.divSection_title__characters {
    font-weight: initial;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #A6955A;
}

.divSection_titleLine__characters {
    margin: 46px 0;
    width: 80.2%;
    border-top: 2px solid #A6955A;
}

.ulCards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 63px;
}

.ulCards_li {
    padding-right: 75px;
}

.ulCards_li:nth-child(5n), .ulCards_li:nth-child(n+401) {
    padding: 0;
}

.divImageCard {
    width: 180px;
    height: 244px;
    background-color: #A6955A;
    cursor: pointer;
}

.divImageCard:hover {
    box-shadow: 0px 0px 5px 5px rgb(34 75 125);
    transition: 0.3s;
}

.imgGlobal {
    border: solid 2px #A6955A;   
}

.imgDefault {
    margin: 20px;
}

.divCharactersName {
    width: 184px;
    margin: 13px auto 42px;
}

.charactersName {
    text-align: center;
    font-weight: initial;
    font-size: 24px;
    line-height: 26px;
    color: #A6955A;
    cursor: pointer;
}

.modalOverlay {
    background-color: rgb(0 0 0 / 60%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContent {
    width: 674px;
    height: 425px;
    margin-top: 69px;
    background-color: rgba(23, 23, 23, 1);
    border: none;
    border-radius: 10px;
}

.modalContent_div .container {
    display: flex;
    justify-content: space-between;
}

.modalImg_div {
    width: 270px;
    height: 349px;
    margin: 38px 0px 38px 50px;
    background-color: #A6955A;
}

.imgDefault_modal {
    margin: 60px;
}

.modalContent_ul {
    margin: 53px 0 0;
}

.modalTxt_div {
    width: 273.52px;
}

.modalContent_liP {
    margin-bottom: 5px;
}

.modalContent_liP:nth-child(9){
    margin-bottom: 0;
}

.modalContent_p__span, .modalContent_wandLi_p_span {
color: #D9D9D9;
}

.modalContent_p, .modalContent_wandLi_p {
    font-size: 18px;
    text-transform: capitalize;
    color: #A6955A;
}

.modalContent_p__span_de {
    text-transform: initial;
}

.modalContent_wandUl {
    margin-left: 12px;
}

.modalContent_wandLi_p {
    font-size: 16px;
}

.modalContent_divXClose {
    width: 26px;
    height: 26px;
    margin: 26px 26px 0 0;
    border-radius: 50%;
    background: #A6955A;
}

.modalContent_xClose {
    padding: 2px 7px;
    font-weight: bold;
    color:rgba(23, 23, 23, 1);
}

.modalContent_xClose:hover {
    cursor: pointer;
    color: #9C231C;
}

@media (max-width: 360px) {
    .containerBody {
        width: 360px;
    }

    .divSection_divTitle__characters {
        margin: auto;
    }

    .divSection_titleLine__characters {
        margin: 20px 0;
    }

    .ulCards_li {
        padding: 0;
    }

    .ulCards .container {
        margin-top: 20px;
    }

    .modalContent {
        width: 310px;
        height: 655px;
        margin: 0;
    }

    .modalContent_div .container {
        flex-direction: column;
    }

    .modalContent_ul {
        margin: 0;
    }

    .modalContent_ul .container {
        display: flex;
        flex-flow: column wrap;
    }

    .modalContent_p {
        font-size: 17px;
    }

    .modalImg_div {
        height: 279px;
        width: 200px;
        position: relative;
        bottom: -15px;
        margin: 30px auto 0;
    }

    .imgDefault_modal {
        margin: 25px;
    }

    .imgGlobal_modal {
        width: 200px;
        height: 279px;
    }

    .modalTxt_div {
        margin: 25px auto;
    }

    .modalContent_divXClose {
        width: 26px;
        height: 26px;
        margin: 10px 0 0 274px;
        position: absolute;
        border-radius: 50%;
        background: #A6955A;
    }
}